@import "tailwindcss";
@import './highlight.css';
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
	--font-mono: "IBM Plex Mono", ui-monospace, monospace;
	--font-serif: "IBM Plex Serif", ui-serif, serif;
}

@utility prose-white {
	--tw-prose-body: var(--color-white);
	--tw-prose-headings: var(--color-white);
	--tw-prose-lead: var(--color-white);
	--tw-prose-links: var(--color-white);
	--tw-prose-bold: var(--color-white);
	--tw-prose-counters: var(--color-white);
	--tw-prose-bullets: var(--color-white);
	--tw-prose-hr: var(--color-neutral-800);
	--tw-prose-quotes: var(--color-neutral-400);
	--tw-prose-quote-borders: var(--color-neutral-800);
	--tw-prose-captions: var(--color-neutral-400);
	--tw-prose-code: var(--color-neutral-400);
	--tw-prose-pre-code: var(--color-white);
	--tw-prose-pre-bg: var(--color-neutral-950);
	--tw-prose-th-borders: var(--color-neutral-600);
	--tw-prose-td-borders: var(--color-neutral-600);

	h1, h2, h3, h4, h5, h6 {
		font-family: var(--font-serif);
		font-weight: 400;
	}

	h2 {
		margin-top: 1rem;
		margin-bottom: 0.8rem;
	}

	h3 {
		margin-top: 0.8rem;
		margin-bottom: 0.4rem;
	}

	h4, h5 {
		margin-top: 1rem;
		margin-bottom: 0;
	}

	h4 + p,
	h5 + p,
	h6 + p {
		margin-top: 0.1rem;
	}

	p {
        margin-top: 1rem;
		margin-bottom: 1rem;
		font-weight: 300;
	}

	ol li,
	ul li {
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		font-weight: 300;
	}

	li > ul,
	li > ol {
		margin-top: 0.1rem;
		margin-bottom: 0.1rem;
	}

	a {
		font-weight: 300;
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}

	hr {
		background-color: var(--tw-prose-hr);
		height: 1px;
		border: none;
		margin-top: 1.5rem;
		margin-bottom: 1.25rem;
	}

	pre {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	pre + pre {
		margin-top: 0;
	}

	pre:has(+ pre) {
		margin-bottom: 0;
		border-bottom: none !important;
	}

	blockquote {
		overflow: hidden;
	}

	blockquote p {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
}

.prose hr {
	margin-right: calc(var(--spacing) * -6);
	margin-left: calc(var(--spacing) * -6);
}

.prose #amendments ol {
	margin: 0;
}

html {
	font-family: var(--font-sans);
	font-optical-sizing: auto;
	font-variation-settings: "wdth" 100;
}
